@charset "utf-8";
/* Основная обертка */
#page-content-wrapper{
	position: relative;
	padding: 5px;
	padding-left:1vw;
}
/* Основное рабочее поле */
#mainForm{
	margin-top:-5vh;
}
/* отступы для комментариев и тэгов */
.comments, .tags{
	margin: 5px 0px;
}
/* блок комментариев, неизменяемый размер, добавление полосы прокрутки при переполнении, высота, шрифт и отступ сверху */
#noteArea{
	resize:none;
	overflow:auto;
	height: 78px;
	font-size: 12px;
	margin-top:3px;
}
/* Класс для длинных комментариев. Сокращает все, что длиннее одной строки */
.might-overflow {
    text-overflow: ellipsis;
    overflow : hidden;
    white-space: nowrap;
	font-weight:400;
}
/* Класс для длинных комментариев. При наведении мышкой показывает полный текст */
.might-overflow:hover {
    text-overflow: clip;
    white-space: normal;
    word-break: break-all;
	font-weight:400;
}
/* Выровнять текст по центру для надписей */
.li-centered {
	text-align:center;
}
/* Сложные махинации с высотой */
.same-height{
	height:4vh;
}
/* Сложные махинации с высотой */
.full-height{
	height:calc(12vh);
}
/* Сложные махинации с высотой */
.add-height{
	height:calc(12vh + 2px);
}
/* убрать запрещающую иконку, при наведении на комментарий, добавить стандартную для выделения */
.cursor-def{
	cursor:text !important;
}
/* Инфа о тэгах */
#tagInfo{
	max-height: 80px;
	overflow: hidden;
}