#page-content-wrapper{
	width: 100%;
	position: absolute;
	padding: 5px;
	padding-left:3vw;
	top:12vh;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}
#MainForm{
	top:0vh;
}
.breakable{
	word-break: break-all;
	word-wrap: break-word;
}
/* отступы для комментариев и тэгов */
.comments, .tags{
	margin: 5px 0px;
}
/* блок комментариев, неизменяемый размер, добавление полосы прокрутки при переполнении, высота, шрифт и отступ сверху */
#noteArea{
	resize:none;
	overflow:auto;
	height: 78px;
	font-size: 12px;
	margin-top:3px;
}
/* Класс для длинных комментариев. Сокращает все, что длиннее одной строки */
.might-overflow {
    text-overflow: ellipsis;
    overflow : hidden;
    white-space: nowrap;
	font-weight:400;
}
/* Класс для длинных комментариев. При наведении мышкой показывает полный текст */
.might-overflow:hover {
    text-overflow: clip;
    white-space: normal;
    word-break: break-all;
	font-weight:400;
}
/* Выровнять текст по центру для надписей */
.li-centered {
	text-align:center;
}
/* */
.same-height{
	height:4vh;
}
/* */
.full-height{
	height:calc(12vh);
}
/* */
.add-height{
	height:calc(12vh + 2px);
}
/* убрать запрещающую иконку, при наведении на комментарий, добавить стандартную для выделения */
.cursor-def{
	cursor:text !important;
}