@charset "utf-8";
/* Общий класс div'a звонка */
.call{
	margin: 8px 0px;
	padding:6px;
	background-color:lightblue;
	border-radius: 5px;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	font-size: 14px;
	display:table;
}
/* Выбранный звонок: тень + подсветка */
.call.active{
	box-shadow:rgba(0, 0, 0, 0.5) 0 5px 7px, inset 0 0 0.5em blue;	
}
/* тэг аудио */
.audio-call{
	text-align: left;
	margin: 10px auto 0 auto;
	width: 100%;
}
.with-hold{
	width: calc(100% - 24px);
}
.hold-span{
	  height: 20px;
    width: 20px;
    display: inline-block;
    position: relative;
    bottom: 12px;
    margin-left: 3px;
    margin-bottom: -18px;
    padding: 0px 5px;
}
/* Убрать отступ у звонков, которые выводятся в ряд */
.no-margin-top{
	margin-top: 0px;
}
/* подсветка твоих звонков */
.yourCall{
	box-shadow: 0px 0px 8px 4px rgba(130,138,255,1);
}
/* Доп инфа на звонки */
.myLabel{
	color: white !important;
	font-size: 13px;
	font-weight: 400;
	border-radius:10px;
}
/* цвет для ID */
.myLabel>a{
color: white;
}
/* цвет для ссылки */
.myLabel>a:link, .myLabel>a:visited{
	color:lightblue;
}
/* Класс для длинных комментариев в Звонки пользователя. Сокращает все, что длиннее одной строки */
.might-overflow {
    text-overflow: ellipsis;
    overflow : hidden;
    white-space: nowrap;
	font-weight:400;
	margin-top: 10px;
}
/* Класс для длинных комментариев в Звонки пользователя. При наведении мышкой показывает полный текст */
.might-overflow:hover {
    text-overflow: clip;
    white-space: normal;
    word-break: break-all;
	font-weight:400;
}
/* бокс для комментариев в Звонки пользователя */
.commentBox{ 
	margin-top:8px;
	margin-left: 10px;
	resize: none;
	overflow:auto;
	cursor: text !important;
	width: calc(33% - 10px) !important;
}