.history, #divAddButton {
	margin: 8px 0px;
	padding:6px;
	background-color:lightblue;
	border-radius: 5px;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	font-size: 14px;
	display:table;
}
.history-info {
	font-size: 14px;
}
div.active{
	background-color:cornflowerblue;
	border:1px solid blue;
}
audio{
	text-align: left;
	margin: 10px auto 0 auto;
	width: 100%;
	width:35vw;
	max-width: 550px;
	min-width:320px;
}