.progress{
	margin-bottom: 0px;
	height:30px;
	margin-top: 7px;
}
.count{
	display: block;
	font-size:	25px;
	margin-top: 5px;
}
.bold{
	font-weight: bold;
}
.noBottomBorderLine{
	border-top: 0px !important;
}
.centered{
	text-align: center;
}
#dashboardTableReactTime, #dashboardTableSatisfaction{
	font-size:	30px;
}