@charset "utf-8";
/* Линия пагинации */
#paginationUL{
	margin-top:0 !important;
	margin-bottom:10px !important;
}
/* Активный день в Звонки за день */
.activeDay{
	text-decoration: underline;
	font-size: 1.05 em;
	color: blue;
}
/* Размер шрифта названий разделов в основной форме(не боковое меню)*/
#HeaderText, h1{
	font-size: 25px;
}
/* Убрать стрелки вниз\вверх у полей ввода номера ID */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}
/* Подсветка неправильно введенных данных*/
.box-shadow{
box-shadow: inset 0 0 0.3em red;
border-radius: 10px;
}
/* Отступ сверху для основной формы */
#MainForm{
	top:1vh;
}
/* Шрифт для приветствия */
#Hello h1{
	margin:15;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	font-size: 48px;
}
/* Стандартное значение для скрытия части кнопок и кружков в кнопках */
[type='checkbox'], [type='radio'], #IsManagerAndNoID, #page-content-wrapper #CallForm, #onlyMyCallsDiv {
	display: none;
}
/* включение скрытых кнопок */
.Add{
	display: inline-block !important;
}
.reprem-row{
	line-height: 40px;
}
.reprem-icon{
	font-size: 20px;
	text-align: center;
}
.reprem-icon-last{
	margin: 7px 0;
}
.reprem-button-row{
	text-align: center;
}
.reprem-button{
	margin: 0 30px;
}
.hidden-button{
	display: none;
}
.reprem-block{
	display: none;
}
.reprem-input{
	margin: 3px 0 !important;
}
.reprem-label{
	margin-bottom: 0 !important;
}
.reprem-button-activator{
	display:none;
}
.reprem-input-textarea{
	resize:none;
	overflow:auto;
}