/* */
#HeaderText
{
	font-size: 25px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}
.glyph
{
	margin-top:17px;
}
.box-shadow{
box-shadow: inset 0 0 0.5em red;
border-radius: 5px;
}
#MainForm
{
	top:1vh;
}
.breakable
{
	word-break: break-all;
	word-wrap: break-word;
}
#addCommentBlock
{
	overflow: auto;
	resize:none;
}

.table-scroll
{
	height: 65vh;
	overflow: auto;
	margin: 0 0 20px;
	max-width: 750px;
}
/* Заметки */
#noteForm
{
	z-index: 1;
	position: fixed;
	overflow-y: hidden;
	overflow-x: hidden;
	top:1vh;	
	width: 0vw;
	background : white;
	visibility : hidden;
	left: calc(15vw + 10px);
	transition:all 0s;
	padding-left: 20px;
	padding-right: 12px;
}
#noteForm.Add
{
	overflow-y: hidden;
	overflow-x: hidden;
	visibility : visible;
	width: 30vw;
	height: 99vh;
	background : #f8f8f8;
	border: solid 1px #f0f0f0;
	border-radius : 5px;
	z-index : 1;
	transition:all 0.5s;
}
#noteArea
{
	margin-top:1vh;
	margin-bottom:5vh;
	width: 98%;
	resize:none;
	overflow:auto;
	height: 88vh;
	opacity:1 !important; 
}
/* !Заметки */

/* Комментарии */
#commentForm
{
	z-index: 1;
	position: fixed;
	overflow-y: hidden;
	top:1vh;
	background : white;
	height: 99vh;	
	width: 0vw;
	visibility : hidden;
	left: calc(15vw + 10px);
	transition:all 0s;
	padding-left: 20px;
	padding-right: 20px;
}
#commentForm.Add
{
	visibility : visible;
	width: 30vw;
	overflow-y: hidden; 
	overflow-x: hidden; 
	background : #f8f8f8;
	border: solid 1px #f0f0f0;
	border-radius : 5px;
	z-index : 1;
	transition:all 0.5s;
	padding: -5px;
}
/* !Комментарии */

/* Фидбек */
#FeedbackForm
{
	z-index: 1;
	position: fixed;
	overflow-y: hidden;
	overflow-x: hidden;
	right:0;
	display:none;
	width:44vw;
	top:5px;
}
#FeedbackForm.Add
{
	display: inline-block;
}
/* !Фидбек */



#sidebar-wrapper
{
	z-index: 1;
	position: fixed;
	min-width: 165px;
	width: 15vw;
	height: 100%;
	overflow-y: hidden;
	background: #2c3e50;
	opacity: 0.9;
	display: inline-block;
}
#Hello h1
{
	margin:15;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	font-size: 48px;
}
h1
{
	font-size:25px;
}
#websocketStatus
{
	color:green;
	position: fixed;
	bottom: 0px;
	margin:auto;
}
#CallForm
{
	display:table;
}
#IDforInfo
{
	z-index : 0;
}
#CloseSubForm, #sendFeedback
{
	float:right;
}

#SubForm
{
	z-index: 1;
	position: fixed;
	overflow-y: hidden;
	right:1%;
	top:12vh;
	display:none;
	width:40vw;
}
.history, #divAddButton {
	margin: 8px 0px;
	padding:6px;
	background-color:lightblue;
	border-radius: 5px;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	font-size: 14px;
	display:table;

}

[type='checkbox'] {
	display: none;
}
[type='radio'] {
	display: none;
}

.history-info {
	font-size: 14px;
}
#page-content-wrapper
{
	width: 100%;
	position: absolute;
	padding: 5px;
	padding-left:14vw;
}
#page-content-wrapper.Add
{
	padding-left: calc(43vw);
}
#page-content-wrapper #CallForm
{
	display: none;
}
#page-content-wrapper #CallForm.inactive
{
	display: inline;
}
div.woop
{
	background-color:#6495ED;
	border:1px solid blue;
}
#SubForm.Add
{
	display: inline-block;
}


#feedbackComment
{
	resize: none;
	overflow: auto;
}


/*  Боковое меню */
.sidebar-nav
{
	padding: 0;
	list-style: none;
}
.sidebar-nav li
{
	text-indent: 30px;
	line-height: 50px;
}

.sidebar-nav li a
{
	display: block;
	text-decoration: none;
	color: #ddd;
}
.sidebar-nav li a:hover
{
	background: #161616;
}
/* ! Боковое меню */
.highlight, .highlight_stay{
	background: #262626;
}
audio
{
	text-align: left;
	margin: 10px auto 0 auto;
	width: 100%;
	width:35vw;
	max-width: 550px;
	min-width:320px;
}
/* Tags Colour */
.btn-avito-tags {
	color: #333;
	background-color: #ddd;
	border:#333 solid 1px;
}
.btn-avito-tags:active, .btn-avito-tags.active {
	background: #999;
	box-shadow: none;
	border:#333 solid 1px;
}
.btn-avito-tags:hover, .btn-avito-tags:focus, .btn-avito-tags:active:focus, .btn-avito-tags:focus:hover .btn-avito-tags:active, .btn-avito-tags:active:hover, .btn-avito-tags.active:hover, .open > .dropdown-toggle.btn-avito-tags {
	background: #aaa;
	border:#333 solid 1px;
	color: #ffffff !important;
}
/* Красный Авитовский цвет */
.btn-avito-red-2 {
	color: #fff;
	background-color: #ff6163;
	border : 1px solid #ff6163;
}
.btn-avito-red-2:active, .btn-avito-red-2.active {
	background: #DC143C;
	box-shadow: none;
	border : 1px solid #DC143C;
}
.btn-avito-red-2:hover, .btn-avito-red-2:focus, .btn-avito-red-2:active:focus, .btn-avito-red-2:focus:hover .btn-avito-red-2:active, .btn-avito-red-2:active:hover, .btn-avito-red-2.active:hover, .open > .dropdown-toggle.btn-avito-red-2 {
	background: #DC143C;
	color: #fff !important;
	border : 1px solid #DC143C;
}
/* Зеленый Авитовский цвет */
.btn-avito-green-2 {
	color: #fff;
	background-color: #97cf26;
	border : 1px solid #97cf26;
}
.btn-avito-green-2:active, .btn-avito-green-2.active {
	background: #008000;
	box-shadow: none;
	border : 1px solid #008000;
}
.btn-avito-green-2:hover, .btn-avito-green-2:focus, .btn-avito-green-2:active:focus, .btn-avito-green-2:focus:hover .btn-avito-green-2:active, .btn-avito-green-2:active:hover, .btn-avito-green-2.active:hover, .open > .dropdown-toggle.btn-avito-green-2 {
	background: #008000;
	color: #fff !important;
	border : 1px solid #008000;
}