/* */
#page-content-wrapper
{
	width: 100%;
	position: absolute;
	padding: 5px;
	padding-left:3vw;
	top:12vh;
}

body, button, input, input[type=text], select, table, textarea {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif !important;
    font-size: 14px;
    color: #000;
}
#HeaderText
{
	font-size: 25px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}
#MainForm
{
	top:0vh;
}
.breakable
{
	word-break: break-all;
	word-wrap: break-word;
}

#Hello h1
{
	margin:15;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	font-size: 48px;
}
h1
{
	font-size:25px;
}
.comments, .tags, .history
{
	margin: 5px 0px;
}
#noteArea
{
	resize:none;
	overflow:auto;
	height: 85px;
	font-size: 12px;
}
.history{
	padding:8px 6px;
	background-color:lightblue;
	border-radius: 5px;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	font-size: 14px;
	display:table;
	height: 85px;
}

[type='checkbox'] {
	display: none;
}
[type='radio'] {
	display: none;
}

.history-info {
	font-size: 14px;
}

div.woop
{
	background-color:#CDD8F6;
	/*text-align: center;
	font-weight:bold;*/
	border:1px solid blue;
}
.sidebar-nav
{
	padding: 0;
	list-style: none;
}
.sidebar-nav li a
{
	display: block;
	text-decoration: none;
	color: #ddd;
}

.sidebar-nav li a:hover
{
	background: #161616;
}

.highlight, .highlight_stay{
	background: #262626;
}
audio
{
	text-align: left;
	margin: 10px auto 0 auto;
	width: 100%;
}
.might-overflow {
    text-overflow: ellipsis;
    overflow : hidden;
    white-space: nowrap;
	font-weight:400;
}

.might-overflow:hover {
    text-overflow: clip;
    white-space: normal;
    word-break: break-all;
	font-weight:400;
}
.li-centered {
	text-align:center;
}
.same-height{
	height:4vh;
}
.full-height{
	height:calc(12vh);
}
.add-height{
	height:calc(12vh + 2px);
}
.cursor-def{
	cursor:text !important;
}