/* */
#wrapper{
   min-width:950px; 
}
#HeaderText
{
	font-size: 34px;
}
#sidebar-wrapper
{
	z-index: 1;
	position: fixed;
	min-width: 200px;
	height: 100%;
	overflow-y: hidden;
	background: #2c3e50;
	opacity: 0.9;
}
#sidebar-wrapper
{
	background: #2c3e50;
}
#Hello h1
{
	margin:20;
	font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 48px;
}

#websocketStatus
{
	color:green;
	position: fixed; 
	bottom: 0px;
	margin:auto;
}
#CallForm
{
	display:table;
}
#IDforInfo, #IDSubmit
{
	display:table-cell;
	
}
#JsonText
{
	display:none;
}
#submit, #CloseSubForm
{
	float:right;
}
#SubForm
{
	z-index: 1;
	position: fixed;
	overflow-y: hidden;
	right:1%;
	top:12%;
	visibility: hidden;
	max-width:33%;
}
.history, #divAddButton {
    margin: 8px 12px;
	padding:6px;
	background-color:lightblue;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 14px;
	display:table;
	
}

[type='checkbox'] {
display: none; 
}

.history-info {
    font-size: 14px;
}



#page-content-wrapper
{
	width: 100%;
	position: absolute;
	padding: 15px;
	padding-left:200px;
}

#page-content-wrapper #CallForm
{
	visibility:hidden;
}

#page-content-wrapper #CallForm.inactive
{
	visibility:visible;
}

#menu-toggle
{	
	width:150px;
	text-align: center;
}

div.woop
{
	width:520px;
	background-color:lightblue;
	text-align: center;
	border:1px solid blue;
	font-weight:bold;
}
#sendDataButtonDiv
{
margin:0px 10px;
}
#SubForm.Add
{
	visibility: visible;
}

.sidebar-nav
{
	padding: 0;
	list-style: none;
}

.sidebar-nav li
{
	text-indent: 30px;
	line-height: 50px;
}

.sidebar-nav li a
{
	display: block;
	text-decoration: none;
	color: #ddd;
}

.sidebar-nav li a:hover
{
background: #161616;
}

.highlight, .highlight_stay{
    background: #262626;
}
audio
{
	text-align: left;
	margin: 10px auto 0 auto;
	width: 100%;
	min-width:500px;
}