.roundPlusShadow{
	font-size: 13px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 5px 15px;
    background-clip: padding-box;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-image: initial;
    border-radius: 10px;
    padding: 10px 0px;
	position: absolute;
	margin-top : 10px;
}
.rightForms{
	position:fixed;
	right:5;
}
.Footer{
	margin-top:10px;
}
.activeButton, .activeButton.active, .activeButton:active, .activeButton:focus, .activeButton:hover{
	background-color:#3e91d8;
}
.box-shadow{
box-shadow: inset 0 0 0.5em red;
}
.groupTag{
	font-size:1.1em;
	font-weight:bold;
}
#searchBar{
	top:1%;
}
#searchField.error{
 box-shadow: inset 0 0 0.2em red;
}
#updateWrapper{
top:50;
display:none;
}
#updateWrapper.active{
top:50;
display:block;
}
#addWrapper{
bottom:10%;
display:none;
}
#addWrapper.active{
display:block;
}
#addWrapper.higher{
display:block;
bottom:40%;
}
#wrapper{
	top:50;
}
tr.search{
	 box-shadow: inset 0 0 0.2em blue;
	 border-radius:10px;
}
.form-body{
	margin-bottom:10px;
}
.inputTextField{
	width:70%;
	display: inline-block;
}
.rightLabel{
	text-align:left;
	width:20%;
	padding:5px;
}
.sum{
	font-style: italic;
	font-weight: bold;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:active, .navbar-default .navbar-nav>li>a.active, .highlight{
	background-color: #CCC;
}