*.class
~*
/target/*

.git
.idea
*.iml
*.out
/logs
src/main/java/ru/avito/controller/UtilController.java
src/main/java/ru/avito/repository/CallsTagsNameRepository.java
src/main/java/ru/avito/model/CallsTagsName.java
production/
